<p id="notice"><%= notice %></p>

<p>
  <strong>Pulse:</strong>
  <%= @assessment.pulse %>
</p>

<p>
  <strong>Resps:</strong>
  <%= @assessment.resps %>
</p>

<p>
  <strong>Sats:</strong>
  <%= @assessment.sats %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @assessment.temp %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @assessment.weight %>
</p>

<p>
  <strong>Hb:</strong>
  <%= @assessment.hb %>
</p>

<p>
  <strong>Gluc:</strong>
  <%= @assessment.gluc %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @assessment.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @assessment.diastolic %>
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
