    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "DMO Team Management Software", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <% if @current_user %>
	     <li><%= link_to "Waitlist", clients_path %></li>  
            <% else %> 
             <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
